.sectionAnimation3 {
  position: absolute;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

.backgroundCar {
  height: 600px;
  background-image: url("../../wwwroot/img/bg.jpg");
  background-position: bottom left;
  animation: driving 15s linear infinite;

  & .car {
    position: absolute;
    left: 300px;
    bottom: -50px;
    width: 200px;
  }

  & .motorbike {
    position: absolute;
    left: 700px;
    bottom: 55px;
    width: 150px;
  }
}

@keyframes driving {
  from {
    background-position: bottom left;
  }
  to {
    background-position: bottom right;
  }
}
