@import "../properties";

.sectionAnimation12 {
  @include WidthHeightValues(100%);
  margin: 0;
  padding: 0;
  background-image: url("../../wwwroot/img/vegeta.png");
  background-repeat: no-repeat;
  height: 600px;
  background-size: cover;
  opacity: 0.75;
}

.rain {
  @include WidthHeightValues(100%);
  background-image: url("../../wwwroot/img/rain.png");
  animation: rain 0.3s linear infinite;
}

@keyframes rain {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 20% 100%;
  }
}
