@import '../properties';

.button9 {
  @include ButtonDecoration();
  transition: all 0.5s;
  background: none;
  cursor: pointer;

  &:hover{
    color: white;
  }

  &::before {
    @include WidthHeightValues(100%);
    @include TRBL($topValue: 0, $leftValue: 0);
    @include FlexCenter();
    content: '';
    position: absolute;
    background-color: $DarkColor;
    z-index: -1;
    border-radius: 0 0 50% 50%;
    height: 0%;
    transition: all 0.5s;
  }

  &:hover::before{
    height: 190%;
  }
}