@import "../properties";

.image-container8 {
  @include WidthHeightValues(100%);
  position: relative;
  overflow: hidden;

  & > img {
    @include WidthHeightValues(100%);
  }

  &::before {
    @include WidthHeightValues(200%);
    @include TRBL($topValue: 0, $leftValue: 0);
    content: "";
    position: absolute;
    background-color: #2d3436;
    opacity: 0.8;
    transition: all 0.25s;
    transform: translate(650px, -100px) rotate(180deg);
  }

  &:hover::before {
    transform: translate(0, 0) rotate(0deg);
    transition-delay: 0s;
  }
}

.caption8 {
  @include WidthHeightValues(100%);
  @include TRBL($topValue: 0, $leftValue: 0);
  @include FlexColumn();
  position: absolute;
  color: white;
  transform: translateY(-20px);
  transition: all 0.25s;

  & h1 {
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(calc(100% - 300px));
    transition: all 0.2s;
  }

  & p {
    width: 70%;
    transform: translateX(300px) rotate(90deg);
    transition: all 0.2s;
  }

  & a {
    @include ReadMoreStyle();
    transition: all 0.2s;
    transform: translateY(calc(100% - 450px));
  }
}
.image-container8:hover {
  & p {
    transform: translateX(0) rotate(0deg);
    transition-delay: 0.4s;
  }

  & h1 {
    transform: translateY(0);
    transition-delay: 0.2s;
  }

  & a {
    transform: translateY(0);
    transition-delay: 0.3s;
  }

  & .caption8 {
    opacity: 1;
    transform: translateY(0);
  }
}
