@import "../properties";

.image-container5 {
  @include WidthHeightValues(100%);
  position: relative;
  overflow: hidden;

  & > img {
    @include WidthHeightValues(100%);
  }

  &::before {
    @include WidthHeightValues(100%);
    @include TRBL($topValue: 0, $leftValue: 0);
    content: "";
    position: absolute;
    background-color: #006266;
    opacity: 0.5;
    transform: translateY(100%);
    transition: all 0.25s;
    transition-delay: 0.25s;
  }

  &:hover::before {
    transform: translateY(0);
    transition-delay: 0s;
  }
}

.caption5 {
  @include WidthHeightValues(100%);
  @include TRBL($topValue: 0, $leftValue: 0);
  @include FlexColumn();
  position: absolute;
  color: white;
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.25s;
}

.image-container5:hover .caption5 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1px;
}
