@import "../properties";

.image-container2 {
  @include WidthHeightValues(100%);
  position: relative;
  overflow: hidden;

  & > img {
    @include WidthHeightValues(100%);
    transition: all 0.5s;
  }
}

.caption2 {
  @include WidthHeightValues(100%);
  @include TRBL($topValue: 0, $leftValue: 0);
  @include FlexColumn();
  position: absolute;
  color: white;
  transition: all 0.5s;
  transform: translateX(-100%);
}

.image-container2:hover .caption2 {
  background: rgba(0, 0, 0, 0.5);
  transform: translateX(0);
}

.image-container2:hover > img {
  transform: scale(1.3) rotate(-15deg);
}
