@import "../properties";

.sectionAnimation6 {
  @include FlexCenter();
  background-color: #222;
  height: 200px;

  & a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    border: 3px solid white;
    padding: 40px 80px;
  }

  & a:hover {
    border: 3px solid #f44336;
    color: #f44336;
    animation: shake 0.3s linear 1;
  }
}

@keyframes shake {
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
