@import "../properties";

.sectionAnimation13 {
  @include FlexCenter();
  font-family: "Lato", sans-serif;

  & ul {
    margin: 0;
    padding: 0;
    display: flex;
  }

  & ul li {
    @include WidthHeightValues(120px);
    @include FlexCenter();
    list-style-type: none;
    margin: 0 20px;
    border: 2px solid #0a3d62;
    border-radius: 50%;
    transition: all 0.5s;
    position: relative;
  }

  & ul li i {
    font-size: 48px;
    color: #0a3d62;
    transition: all 0.5s;
  }

  & ul li::before {
    @include WidthHeightValues(100%);
    @include TRBL($topValue: 0, $leftValue: 0);
    content: "";
    position: absolute;
    background-color: #0a3d62;
    border-radius: 50%;
    z-index: -1;
    transition: all 0.5s;
    opacity: 0;
  }

  & ul li:hover::before {
    opacity: 1;
    transform: scale(0.8);
  }

  & ul li:hover i {
    color: white;
  }

  & ul li::after {
    @include WidthHeightValues(100%);
    @include TRBL($topValue: 0, $leftValue: 0);
    content: "";
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    z-index: -1;
    transition: all 0.5s;
    opacity: 0;
    border: 2px dashed #0a3d62;
    box-sizing: border-box;
  }

  & ul li:hover::after {
    opacity: 1;
    animation: rotating-icon 10s linear infinite;
  }
}

@keyframes rotating-icon {
  0% {
    transform: scale(0.92) rotate(0deg);
  }
  100% {
    transform: scale(0.92) rotate(360deg);
  }
}
