@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin: 30px;
  font-family: "Poppins";
}

section {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.containerAnimations {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-button {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #282828;
  color: white;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
}

/*Animation 1*/
.sectionAnimation1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #26de81;
}

.sectionAnimation1 h1 {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 15px;
  text-shadow: 0 1px 0 #efefef, 0 1px 0 #efefef, 0 2px 0 #efefef, 0 3px 0 #efefef, 0 4px 0 #efefef, 0 30px 5px rgba(0, 0, 0, 0.1);
  -webkit-animation: float 3s linear infinite;
          animation: float 3s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes float {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes float {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

/*Animation 2*/
.sectionAnimation2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #26de81;
  -webkit-perspective: 200px;
          perspective: 200px;
  height: 150px;
}

.loading {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 12px;
  -webkit-animation: loading-rotate 2s linear infinite;
          animation: loading-rotate 2s linear infinite;
}

@-webkit-keyframes loading-rotate {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateX(0deg) rotateY(180deg);
            transform: rotateX(0deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
            transform: rotateX(180deg) rotateY(180deg);
  }
}

@keyframes loading-rotate {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateX(0deg) rotateY(180deg);
            transform: rotateX(0deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
            transform: rotateX(180deg) rotateY(180deg);
  }
}

/*Animation 3*/
.sectionAnimation3 {
  position: absolute;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

.backgroundCar {
  height: 600px;
  background-image: url("../../wwwroot/img/bg.jpg");
  background-position: bottom left;
  -webkit-animation: driving 15s linear infinite;
          animation: driving 15s linear infinite;
}

.backgroundCar .car {
  position: absolute;
  left: 300px;
  bottom: -50px;
  width: 200px;
}

.backgroundCar .motorbike {
  position: absolute;
  left: 700px;
  bottom: 55px;
  width: 150px;
}

@-webkit-keyframes driving {
  from {
    background-position: bottom left;
  }
  to {
    background-position: bottom right;
  }
}

@keyframes driving {
  from {
    background-position: bottom left;
  }
  to {
    background-position: bottom right;
  }
}

/*Animation 4*/
.sectionAnimation4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ea2027;
}

.sectionAnimation4 h1 {
  color: white;
  font-size: 50px;
}

.sectionAnimation4 span::before {
  content: "Transitions";
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: #1b1564;
  -webkit-animation: word-switch 5s infinite;
          animation: word-switch 5s infinite;
}

@-webkit-keyframes word-switch {
  0% {
    content: "Transitions";
  }
  50% {
    content: "Animations";
  }
  100% {
    content: "Transforms";
  }
}

@keyframes word-switch {
  0% {
    content: "Transitions";
  }
  50% {
    content: "Animations";
  }
  100% {
    content: "Transforms";
  }
}

/*Animation 5*/
.sectionAnimation5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
}

.bannerImage {
  width: 100%;
  height: 100%;
  background-image: url("../../wwwroot/img/bgmulti.png");
  background-position: 0 0;
  -webkit-animation: animated-pattern 15s linear infinite;
          animation: animated-pattern 15s linear infinite;
}

@-webkit-keyframes animated-pattern {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 600px;
  }
}

@keyframes animated-pattern {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 600px;
  }
}

/*Animation 6*/
.sectionAnimation6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222;
  height: 200px;
}

.sectionAnimation6 a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  border: 3px solid white;
  padding: 40px 80px;
}

.sectionAnimation6 a:hover {
  border: 3px solid #f44336;
  color: #f44336;
  -webkit-animation: shake 0.3s linear 1;
          animation: shake 0.3s linear 1;
}

@-webkit-keyframes shake {
  33% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  66% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes shake {
  33% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  66% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

/*Animation 7*/
.sectionAnimation7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}

.buttonA7 {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 40px;
  border: 3px solid black;
  padding: 40px 80px;
  position: relative;
  overflow: hidden;
  z-index: inherit;
}

.buttonA7::before {
  width: 120px;
  height: 100%;
  top: 0;
  right: "";
  bottom: "";
  left: 0;
  content: "";
  background-color: #f44336;
  position: absolute;
  z-index: -1;
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
  -webkit-animation: moving-button 1.2s linear infinite;
          animation: moving-button 1.2s linear infinite;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.buttonA7:hover::before {
  width: 100%;
  -webkit-transform: skew(0deg);
          transform: skew(0deg);
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes moving-button {
  from {
    left: -120px;
  }
  to {
    left: 100%;
  }
}

@keyframes moving-button {
  from {
    left: -120px;
  }
  to {
    left: 100%;
  }
}

/*Animation 8*/
.sectionAnimation8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
  background-color: #272727;
}

.sectionAnimation8 ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sectionAnimation8 ul li {
  list-style: none;
  color: #484848;
  font-size: 80px;
  letter-spacing: 15px;
  -webkit-animation: lighting 1.4s linear infinite;
          animation: lighting 1.4s linear infinite;
}

.sectionAnimation8 ul li:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.sectionAnimation8 ul li:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.sectionAnimation8 ul li:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.sectionAnimation8 ul li:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.sectionAnimation8 ul li:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.sectionAnimation8 ul li:nth-child(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.sectionAnimation8 ul li:nth-child(7) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.sectionAnimation8 ul li:nth-child(8) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@-webkit-keyframes lighting {
  0% {
    color: #484848;
    text-shadow: none;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
  }
}

@keyframes lighting {
  0% {
    color: #484848;
    text-shadow: none;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
  }
}

/*Animation 9*/
.sectionAnimation9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #262626;
  height: 250px;
}

.heart {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: #ff3838;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: heartbeat 1.4s linear infinite;
          animation: heartbeat 1.4s linear infinite;
}

.heart::before {
  width: 100%;
  height: 100%;
  top: 0;
  right: "";
  bottom: "";
  left: 0;
  content: "";
  position: absolute;
  background-color: #ff3838;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}

.heart::after {
  width: 100%;
  height: 100%;
  top: 0;
  right: "";
  bottom: "";
  left: 0;
  content: "";
  position: absolute;
  background-color: #ff3838;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
  }
  25% {
    -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
  }
  30% {
    -webkit-transform: rotate(45deg) scale(1.4);
            transform: rotate(45deg) scale(1.4);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(1.2);
            transform: rotate(45deg) scale(1.2);
  }
  70% {
    -webkit-transform: rotate(45deg) scale(1.4);
            transform: rotate(45deg) scale(1.4);
  }
  100% {
    -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
  }
  25% {
    -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
  }
  30% {
    -webkit-transform: rotate(45deg) scale(1.4);
            transform: rotate(45deg) scale(1.4);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(1.2);
            transform: rotate(45deg) scale(1.2);
  }
  70% {
    -webkit-transform: rotate(45deg) scale(1.4);
            transform: rotate(45deg) scale(1.4);
  }
  100% {
    -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
  }
}

/*Animation 10*/
.sectionAnimation10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #273c75;
}

.sectionAnimation10 h1 {
  font-size: 200px;
  text-align: center;
  text-transform: uppercase;
  background-image: url("../../wwwroot/img/abt.jpg");
  -webkit-background-clip: text;
  color: transparent;
  -webkit-animation: text-background 20s linear infinite;
          animation: text-background 20s linear infinite;
}

@-webkit-keyframes text-background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

@keyframes text-background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

/*Animation 11*/
.sectionAnimation11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #262626;
  height: 250px;
}

.sectionAnimation11 ul {
  margin: 0;
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 10px solid white;
}

.sectionAnimation11 ul li {
  width: 30px;
  height: 30px;
  list-style: none;
  background-color: white;
  margin: 0 10px;
  border-radius: 50%;
  -webkit-animation: boucing 0.8s linear infinite;
          animation: boucing 0.8s linear infinite;
}

.sectionAnimation11 ul li:nth-child(1) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.sectionAnimation11 ul li:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.sectionAnimation11 ul li:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.sectionAnimation11 ul li:nth-child(4) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.sectionAnimation11 ul li:nth-child(5) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes boucing {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes boucing {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*Animation 12*/
.sectionAnimation12 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../../wwwroot/img/vegeta.png");
  background-repeat: no-repeat;
  height: 600px;
  background-size: cover;
  opacity: 0.75;
}

.rain {
  width: 100%;
  height: 100%;
  background-image: url("../../wwwroot/img/rain.png");
  -webkit-animation: rain 0.3s linear infinite;
          animation: rain 0.3s linear infinite;
}

@-webkit-keyframes rain {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 20% 100%;
  }
}

@keyframes rain {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 20% 100%;
  }
}

/*Animation 13*/
.sectionAnimation13 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
}

.sectionAnimation13 ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sectionAnimation13 ul li {
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin: 0 20px;
  border: 2px solid #0a3d62;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

.sectionAnimation13 ul li i {
  font-size: 48px;
  color: #0a3d62;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sectionAnimation13 ul li::before {
  width: 100%;
  height: 100%;
  top: 0;
  right: "";
  bottom: "";
  left: 0;
  content: "";
  position: absolute;
  background-color: #0a3d62;
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.sectionAnimation13 ul li:hover::before {
  opacity: 1;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.sectionAnimation13 ul li:hover i {
  color: white;
}

.sectionAnimation13 ul li::after {
  width: 100%;
  height: 100%;
  top: 0;
  right: "";
  bottom: "";
  left: 0;
  content: "";
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  border: 2px dashed #0a3d62;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sectionAnimation13 ul li:hover::after {
  opacity: 1;
  -webkit-animation: rotating-icon 10s linear infinite;
          animation: rotating-icon 10s linear infinite;
}

@-webkit-keyframes rotating-icon {
  0% {
    -webkit-transform: scale(0.92) rotate(0deg);
            transform: scale(0.92) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(0.92) rotate(360deg);
            transform: scale(0.92) rotate(360deg);
  }
}

@keyframes rotating-icon {
  0% {
    -webkit-transform: scale(0.92) rotate(0deg);
            transform: scale(0.92) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(0.92) rotate(360deg);
            transform: scale(0.92) rotate(360deg);
  }
}

/*Animation 14*/
.sectionAnimation14 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
}

.sectionAnimation14 ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sectionAnimation14 ul li {
  list-style-type: none;
  font-size: 80px;
  letter-spacing: 20px;
  -webkit-animation: loading 3s linear infinite;
          animation: loading 3s linear infinite;
}

.sectionAnimation14 ul li:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.sectionAnimation14 ul li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.sectionAnimation14 ul li:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.sectionAnimation14 ul li:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.sectionAnimation14 ul li:nth-child(5) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.sectionAnimation14 ul li:nth-child(6) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.sectionAnimation14 ul li:nth-child(7) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

@-webkit-keyframes loading {
  0% {
    color: red;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    letter-spacing: 20px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    letter-spacing: -20px;
    opacity: 1;
  }
  100% {
    color: purple;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    letter-spacing: 20px;
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    color: red;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    letter-spacing: 20px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    letter-spacing: -20px;
    opacity: 1;
  }
  100% {
    color: purple;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    letter-spacing: 20px;
    opacity: 0;
  }
}

/*Animation 15*/
.sectionAnimation15 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #262626;
  height: 200px;
}

.pulse {
  width: 100px;
  height: 100px;
  background-color: #58ea00;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  font-size: 48px;
  position: relative;
}

.pulse::before, .pulse::after {
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
  content: "";
  position: absolute;
  border: 1px solid #58ea00;
  border-radius: 50%;
  -webkit-animation: pulsing 1.5s linear infinite;
          animation: pulsing 1.5s linear infinite;
}

.pulse::after {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
}

/*Animation 16*/
.sectionAnimation16 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #272727;
}

.slider {
  width: 800px;
  height: 400px;
  background: url("../../wwwroot/img/image10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-animation: change-bg 10s linear infinite;
          animation: change-bg 10s linear infinite;
}

@-webkit-keyframes change-bg {
  0% {
    background: url("../../wwwroot/img/image1.jpg");
  }
  25% {
    background: url("../../wwwroot/img/image3.jpg");
  }
  50% {
    background: url("../../wwwroot/img/image.jpg");
  }
  75% {
    background: url("../../wwwroot/img/image4.jpg");
  }
  100% {
    background: url("../../wwwroot/img/image5.jpg");
  }
}

@keyframes change-bg {
  0% {
    background: url("../../wwwroot/img/image1.jpg");
  }
  25% {
    background: url("../../wwwroot/img/image3.jpg");
  }
  50% {
    background: url("../../wwwroot/img/image.jpg");
  }
  75% {
    background: url("../../wwwroot/img/image4.jpg");
  }
  100% {
    background: url("../../wwwroot/img/image5.jpg");
  }
}

/*Animation 17*/
.sectionAnimation17 {
  -webkit-animation: change-color 10s infinite;
          animation: change-color 10s infinite;
}

.sectionAnimation17 h1 {
  font-size: 70px;
  text-align: center;
  text-transform: capitalize;
  color: white;
}

@-webkit-keyframes change-color {
  0% {
    background-color: skyblue;
  }
  20% {
    background-color: aquamarine;
  }
  40% {
    background-color: tomato;
  }
  60% {
    background-color: plum;
  }
  80% {
    background-color: darkcyan;
  }
  100% {
    background-color: skyblue;
  }
}

@keyframes change-color {
  0% {
    background-color: skyblue;
  }
  20% {
    background-color: aquamarine;
  }
  40% {
    background-color: tomato;
  }
  60% {
    background-color: plum;
  }
  80% {
    background-color: darkcyan;
  }
  100% {
    background-color: skyblue;
  }
}

/*Animation 18*/
.sectionAnimation18 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2c3e50;
  height: 330px;
}

.cradle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 10px solid white;
}

.cradle span {
  width: 3px;
  height: 300px;
  display: block;
  background-color: white;
  margin: 0 29px;
  position: relative;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.cradle span::before {
  width: 60px;
  height: 60px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.cradle span:first-child {
  -webkit-animation: left-arm 2s ease-in infinite;
          animation: left-arm 2s ease-in infinite;
}

.cradle span:last-child {
  -webkit-animation: right-arm 2s ease-in infinite;
          animation: right-arm 2s ease-in infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes left-arm {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes left-arm {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes right-arm {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes right-arm {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/*Animation 19*/
.sectionAnimation19 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0b1734;
  height: 230px;
}

.containerColorful {
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-animation: animate 1s linear infinite;
          animation: animate 1s linear infinite;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.containerColorful span {
  width: 50px;
  height: 50px;
  position: absolute;
  -webkit-animation: rotateSquare 1s linear infinite;
          animation: rotateSquare 1s linear infinite;
}

.containerColorful span:nth-child(1) {
  top: 0;
  right: "";
  bottom: "";
  left: 0;
  background-color: #fceba7;
}

.containerColorful span:nth-child(2) {
  top: 0;
  right: 0;
  bottom: "";
  left: "";
  background-color: #55dd89;
}

.containerColorful span:nth-child(3) {
  top: "";
  right: "";
  bottom: 0;
  left: 0;
  background-color: #fd6c64;
}

.containerColorful span:nth-child(4) {
  top: "";
  right: 0;
  bottom: 0;
  left: "";
  background-color: #1f89b0;
}

@-webkit-keyframes rotateSquare {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  90% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes rotateSquare {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  90% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@-webkit-keyframes animate {
  0% {
    width: 100px;
    height: 100px;
  }
  10% {
    width: 100px;
    height: 100px;
  }
  50% {
    width: 150px;
    height: 150px;
  }
  90% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

@keyframes animate {
  0% {
    width: 100px;
    height: 100px;
  }
  10% {
    width: 100px;
    height: 100px;
  }
  50% {
    width: 150px;
    height: 150px;
  }
  90% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

/*Animation 20*/
.sectionAnimation20 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ee5253;
  height: 230px;
}

.loaderSquare {
  width: 150px;
  height: 150px;
  position: relative;
}

.loaderSquare span {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: white;
  border-radius: 4px;
  -webkit-animation: chase 2s linear infinite;
          animation: chase 2s linear infinite;
}

.loaderSquare span:nth-child(2) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.loaderSquare span:nth-child(3) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

@-webkit-keyframes chase {
  0% {
    top: 0;
    right: "";
    bottom: "";
    left: 0;
  }
  12.5% {
    top: 0;
    right: "";
    bottom: "";
    left: 50%;
  }
  25% {
    top: 0;
    right: "";
    bottom: "";
    left: 50%;
  }
  37.5% {
    top: 50%;
    right: "";
    bottom: "";
    left: 50%;
  }
  50% {
    top: 50%;
    right: "";
    bottom: "";
    left: 50%;
  }
  62.5% {
    top: 50%;
    right: "";
    bottom: "";
    left: 0;
  }
  75% {
    top: 50%;
    right: "";
    bottom: "";
    left: 0;
  }
  87.5% {
    top: 0;
    right: "";
    bottom: "";
    left: 0;
  }
  100% {
    top: 0;
    right: "";
    bottom: "";
    left: 0;
  }
}

@keyframes chase {
  0% {
    top: 0;
    right: "";
    bottom: "";
    left: 0;
  }
  12.5% {
    top: 0;
    right: "";
    bottom: "";
    left: 50%;
  }
  25% {
    top: 0;
    right: "";
    bottom: "";
    left: 50%;
  }
  37.5% {
    top: 50%;
    right: "";
    bottom: "";
    left: 50%;
  }
  50% {
    top: 50%;
    right: "";
    bottom: "";
    left: 50%;
  }
  62.5% {
    top: 50%;
    right: "";
    bottom: "";
    left: 0;
  }
  75% {
    top: 50%;
    right: "";
    bottom: "";
    left: 0;
  }
  87.5% {
    top: 0;
    right: "";
    bottom: "";
    left: 0;
  }
  100% {
    top: 0;
    right: "";
    bottom: "";
    left: 0;
  }
}

/*Animation 21*/
.sectionAnimation21 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2c3a47;
  height: 230px;
  width: auto;
}

.sectionAnimation21 h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: white;
  position: relative;
  overflow: hidden;
}

.sectionAnimation21 h1::before {
  top: 0;
  right: "";
  bottom: "";
  left: 0;
  content: "LOADING...";
  position: absolute;
  width: 100%;
  color: #f6b93b;
  overflow: hidden;
  border-right: 4px solid #f6b93b;
  -webkit-animation: text-reveal 5s linear infinite;
          animation: text-reveal 5s linear infinite;
}

@-webkit-keyframes text-reveal {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes text-reveal {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/*Animation 22*/
.sectionAnimation22 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 230px;
}

.ring-container {
  width: 200px;
  height: 200px;
  position: relative;
}

.ring {
  width: 100%;
  height: 100%;
  border-left: 4px solid #262626;
  border-radius: 50%;
  -webkit-animation: ring 1s linear infinite;
          animation: ring 1s linear infinite;
}

.text-ring {
  width: 100%;
  height: 100%;
  top: 0;
  right: "";
  bottom: "";
  left: 0;
  position: absolute;
  text-align: center;
  line-height: 200px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*Animation 23*/
.sectionAnimation23 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 230px;
  background-color: #262626;
}

.line-loading {
  width: 300px;
  height: 3px;
  background-color: white;
  -webkit-animation: line 2s infinite alternate;
          animation: line 2s infinite alternate;
}

@-webkit-keyframes line {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  45% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@keyframes line {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  45% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

/*Animation 24*/
.sectionAnimation24 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #212121;
  height: 230px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.grow-loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.obj,
.obj2 {
  width: 6px;
  height: 40px;
  background-color: white;
  margin: 0 3px;
  border-radius: 10px;
  -webkit-animation: grow-lines 0.8s linear infinite;
          animation: grow-lines 0.8s linear infinite;
}

.obj:nth-child(2),
.obj2:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.obj:nth-child(3),
.obj2:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.obj:nth-child(4),
.obj2:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.obj:nth-child(5),
.obj2:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.obj:nth-child(6),
.obj2:nth-child(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.obj:nth-child(7),
.obj2:nth-child(7) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.obj2 {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes grow-lines {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes grow-lines {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

/*Animation 25*/
.sectionAnimation25 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222d3e;
  height: 300px;
}

.ring-loader {
  width: 200px;
  height: 200px;
  position: relative;
}

.outer {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-left: 5px solid #eb4d4b;
  border-right: 5px solid #eb4d4b;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
  border-radius: 50%;
  -webkit-animation: ring-rotation-loading 1s linear infinite;
          animation: ring-rotation-loading 1s linear infinite;
}

.middle {
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border-left: 5px solid #218c74;
  border-right: 5px solid #218c74;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
  border-radius: 50%;
  animation: ring-rotation-loading 1s linear infinite reverse;
}

.inner {
  top: 60px;
  right: 60px;
  bottom: 60px;
  left: 60px;
  border-left: 5px solid #ccae62;
  border-right: 5px solid #ccae62;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
  border-radius: 50%;
  -webkit-animation: ring-rotation-loading 1s linear infinite;
          animation: ring-rotation-loading 1s linear infinite;
}

.dot {
  top: 90px;
  right: 90px;
  bottom: 90px;
  left: 90px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
}

@-webkit-keyframes ring-rotation-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes ring-rotation-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*Animation 26*/
.sectionAnimation26 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0a3d62;
  height: 230px;
}

.outloader {
  width: 90px;
  height: 90px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.outloader span {
  width: 30px;
  height: 30px;
  position: relative;
}

.outloader span::before {
  width: 100%;
  height: 100%;
  top: 0;
  right: "";
  bottom: "";
  left: 0;
  content: "";
  position: absolute;
  background-color: white;
  -webkit-animation: out-loading 1s linear infinite;
          animation: out-loading 1s linear infinite;
}

@-webkit-keyframes out-loading {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 0;
    height: 0;
  }
}

@keyframes out-loading {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 0;
    height: 0;
  }
}

.s4::before,
.s5::before,
.s6::before {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.s7::before,
.s8::before,
.s9::before {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

/*Animation 27*/
.sectionAnimation27 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #272727;
  height: 230px;
}

.g-line-loader {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.g-line-loader span {
  width: 10px;
  height: 60px;
  margin: 0px 1px;
  background-color: white;
  -webkit-animation: g-line-loading 0.8s ease-in-out infinite;
          animation: g-line-loading 0.8s ease-in-out infinite;
}

.g-line-loader span:nth-child(1) {
  background-color: #2eeca8;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.g-line-loader span:nth-child(2) {
  background-color: #eade3d;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.g-line-loader span:nth-child(3) {
  background-color: #55acee;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.g-line-loader span:nth-child(4) {
  background-color: #ec902e;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.g-line-loader span:nth-child(5) {
  background-color: #09b7bf;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.g-line-loader span:nth-child(6) {
  background-color: #ea3d8c;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@-webkit-keyframes g-line-loading {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  30% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  60%,
  100% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
}

@keyframes g-line-loading {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  30% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  60%,
  100% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
}

/*Animation 28*/
.sectionAnimation28 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  height: 250px;
}

.container-boxes {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.text-box {
  top: 50%;
  right: "";
  bottom: "";
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-size: 45px;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

.square-box {
  position: absolute;
  bottom: -100px;
  background-color: #f2f2f2;
  -webkit-animation: boxes 10s infinite ease-in-out;
          animation: boxes 10s infinite ease-in-out;
}

.square-box:nth-child(1) {
  width: 75px;
  height: 75px;
  left: 7%;
}

.square-box:nth-child(2) {
  width: 65px;
  height: 65px;
  left: 15%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.square-box:nth-child(3) {
  width: 82px;
  height: 82px;
  left: 45%;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.square-box:nth-child(4) {
  width: 70px;
  height: 70px;
  left: 55%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.square-box:nth-child(5) {
  width: 60px;
  height: 60px;
  left: 27%;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.square-box:nth-child(6) {
  width: 55px;
  height: 55px;
  left: 60%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.square-box:nth-child(7) {
  width: 90px;
  height: 90px;
  left: 85%;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.square-box:nth-child(8) {
  width: 70px;
  height: 70px;
  left: 75%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.square-box:nth-child(9) {
  width: 45px;
  height: 45px;
  left: 10%;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.square-box:nth-child(10) {
  width: 55px;
  height: 55px;
  left: 65%;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

@-webkit-keyframes boxes {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 100%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0;
  }
}

@keyframes boxes {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 100%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0;
  }
}

/*Animation 29*/
.sectionAnimation29 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #212121;
  height: 250px;
}

.line-hexagon {
  width: 300px;
  border-bottom: 4px solid white;
  position: relative;
  -webkit-animation: line-hexagon 2s linear infinite;
          animation: line-hexagon 2s linear infinite;
}

.hexagon {
  width: 50px;
  height: 30px;
  top: "";
  right: "";
  bottom: 14px;
  left: 0;
  position: absolute;
  background-color: white;
  -webkit-animation: hexagon 2s linear infinite;
          animation: hexagon 2s linear infinite;
}

.hexagon::before {
  width: 100%;
  height: 100%;
  top: 0;
  right: "";
  bottom: "";
  left: 0;
  content: "";
  position: absolute;
  background-color: white;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.hexagon::after {
  width: 100%;
  height: 100%;
  top: 0;
  right: "";
  bottom: "";
  left: 0;
  content: "";
  position: absolute;
  background-color: white;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

@-webkit-keyframes hexagon {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 50px);
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
  100% {
    left: 0;
  }
}

@keyframes hexagon {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 50px);
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes line-hexagon {
  0% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

@keyframes line-hexagon {
  0% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

/*Animation 30*/
.sectionAnimation30 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
}

.sectionAnimation30 ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sectionAnimation30 ul li {
  list-style-type: none;
}

.sectionAnimation30 ul li a {
  position: relative;
  display: block;
  margin: 0 10px;
  padding: 5px 10px;
  color: #333;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

.sectionAnimation30 ul li a::before {
  width: 100%;
  height: 4px;
  top: 50%;
  right: "";
  bottom: "";
  left: -100%;
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #d63031;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sectionAnimation30 ul li a:hover::before {
  -webkit-animation: menu-animation 0.5s linear forwards;
          animation: menu-animation 0.5s linear forwards;
}

.sectionAnimation30 ul li a:hover {
  color: white;
}

@-webkit-keyframes menu-animation {
  0% {
    left: -100%;
    height: 4px;
  }
  50% {
    left: 0;
    height: 4px;
  }
  100% {
    left: 0;
    height: 100%;
    z-index: -1;
  }
}

@keyframes menu-animation {
  0% {
    left: -100%;
    height: 4px;
  }
  50% {
    left: 0;
    height: 4px;
  }
  100% {
    left: 0;
    height: 100%;
    z-index: -1;
  }
}

/*Animation 31*/
.sectionAnimation31 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #192a56;
  height: 330px;
}

.background-boxes {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.background-boxes h2 {
  top: 50%;
  right: "";
  bottom: "";
  left: 50%;
  margin: 0;
  color: white;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 45px;
  text-transform: uppercase;
  z-index: 1;
}

.bg-box {
  width: 10px;
  height: 10px;
  top: 80%;
  right: "";
  bottom: "";
  left: 45%;
  position: absolute;
  border: 1px solid #003298;
  -webkit-animation: bg-box 12s ease-in infinite;
          animation: bg-box 12s ease-in infinite;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.bg-box:nth-child(2) {
  top: 40%;
  right: "";
  bottom: "";
  left: 25%;
  border-color: red;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.bg-box:nth-child(3) {
  top: 50%;
  right: "";
  bottom: "";
  left: 75%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.bg-box:nth-child(4) {
  top: 10%;
  right: "";
  bottom: "";
  left: 90%;
  border-color: red;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.bg-box:nth-child(5) {
  top: 85%;
  right: "";
  bottom: "";
  left: 10%;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.bg-box:nth-child(6) {
  top: 10%;
  right: "";
  bottom: "";
  left: 50%;
  border-color: red;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

@-webkit-keyframes bg-box {
  0% {
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(20) rotate(960deg);
            transform: scale(20) rotate(960deg);
    opacity: 0;
  }
}

@keyframes bg-box {
  0% {
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(20) rotate(960deg);
            transform: scale(20) rotate(960deg);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */